<aside class="left-sidebar">
  <!-- Sidebar scroll-->
  <div class="scroll-sidebar ps ps--theme_default ps--active-y" data-ps-id="dfc531a3-abfc-3005-f5ac-e66c82fe9f05">
      <!-- Sidebar navigation-->
      <nav class="sidebar-nav active">
          <ul id="sidebarnav" class="in">
            
              <li class="nav-small-cap">--- Menuler</li>
              <li> <a class="waves-effect waves-dark" href=""><i class="far fa-home"></i><span class="hide-menu">Anasayfa</span></a>
              </li>
              <li> <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="far fa-hospital-user"></i><span class="hide-menu">Hastalar</span></a>
                <ul aria-expanded="false" class="collapse">
                    <li><a href="/Patients/PatientAdd">Hasta Ekle</a></li>
                    <li><a href="/Patients">Tüm Hastalar</a></li>
                </ul>
            </li>
              <li> <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="far fa-calculator"></i><span class="hide-menu">Mali İşler</span></a>
                <ul aria-expanded="false" class="collapse">
                    <li><a href="app-calendar.html">Stok Ekle</a></li>
                    <li><a href="app-chat.html">Kasa</a></li>
                    <li><a href="app-ticket.html">Support Ticket</a></li>
                    <li><a href="app-contact.html">Contact / Employee</a></li>
                    <li><a href="app-contact2.html">Contact Grid</a></li>
                    <li><a href="app-contact-detail.html">Contact Detail</a></li>
                </ul>
            </li>
          </ul>
      </nav>
      <!-- End Sidebar navigation -->
  <div class="ps__scrollbar-x-rail" style="left: 0px; bottom: 0px;">
    <div class="ps__scrollbar-x" tabindex="0" style="left: 0px; width: 0px;">
    </div>
</div>
<div class="ps__scrollbar-y-rail" style="top: 0px; height: 560px; right: 0px;">
    <div class="ps__scrollbar-y" tabindex="0" style="top: 0px; height: 214px;">
    </div>
</div>
</div>
  <!-- End Sidebar scroll-->
</aside>